@import "//at.alicdn.com/t/c/font_3809364_w395q40k2b.css";
.color-10 {
  color: #101010;
}

.color-7D {
  color: #7D7D7D;
}

.color-d6 {
  color: #d6d6d6;
}

.color-f34 {
  color: #F34659;
}

.color-333 {
  color: #333;
}

.color-666 {
  color: #666;
}

.color-999 {
  color: #999;
}

.color-e7 {
  color: #e7e7e7;
}

.color-blue {
  color: #2699FB;
}

.color-white, .color-fff {
  color: #fff;
}

.color-f4b {
  color: #F4B744;
}

.bg-white, .bg-fff {
  background: #fff;
}

.bg-f9 {
  background: #f9f9f9;
}

.bg-e7 {
  background: #e7e7e7;
}

.bg-f9 {
  background: #f9f9f9;
}

.bg-f2 {
  background: #f2f2f2;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.justify-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.justify-around {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.align-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.align-end {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-sub, .flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-column {
  flex-direction: column;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.scroll-999::-webkit-scrollbar {
  width: 6px;
}

.scroll-999::-webkit-scrollbar-track {
  width: 6px;
  background: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.scroll-999::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color 0.3s;
  cursor: pointer;
}

.scroll-999::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.5);
}

* {
  cursor: none;
}

.w-1 {
  width: 1px;
}

.h-1 {
  height: 1px;
}

.font-1 {
  font-size: 1px;
}

.line-1 {
  line-height: 1px;
}

.ml-1 {
  margin-left: 1px;
}

.mt-1 {
  margin-top: 1px;
}

.mr-1 {
  margin-bottom: 1px;
}

.mb-1 {
  margin-right: 1px;
}

.pd-1 {
  padding: 1px;
}

.rd-1 {
  border-radius: 1px;
}

.w-2 {
  width: 2px;
}

.h-2 {
  height: 2px;
}

.font-2 {
  font-size: 2px;
}

.line-2 {
  line-height: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.mr-2 {
  margin-bottom: 2px;
}

.mb-2 {
  margin-right: 2px;
}

.pd-2 {
  padding: 2px;
}

.rd-2 {
  border-radius: 2px;
}

.w-3 {
  width: 3px;
}

.h-3 {
  height: 3px;
}

.font-3 {
  font-size: 3px;
}

.line-3 {
  line-height: 3px;
}

.ml-3 {
  margin-left: 3px;
}

.mt-3 {
  margin-top: 3px;
}

.mr-3 {
  margin-bottom: 3px;
}

.mb-3 {
  margin-right: 3px;
}

.pd-3 {
  padding: 3px;
}

.rd-3 {
  border-radius: 3px;
}

.w-4 {
  width: 4px;
}

.h-4 {
  height: 4px;
}

.font-4 {
  font-size: 4px;
}

.line-4 {
  line-height: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.mr-4 {
  margin-bottom: 4px;
}

.mb-4 {
  margin-right: 4px;
}

.pd-4 {
  padding: 4px;
}

.rd-4 {
  border-radius: 4px;
}

.w-5 {
  width: 5px;
}

.h-5 {
  height: 5px;
}

.font-5 {
  font-size: 5px;
}

.line-5 {
  line-height: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-right: 5px;
}

.pd-5 {
  padding: 5px;
}

.rd-5 {
  border-radius: 5px;
}

.w-6 {
  width: 6px;
}

.h-6 {
  height: 6px;
}

.font-6 {
  font-size: 6px;
}

.line-6 {
  line-height: 6px;
}

.ml-6 {
  margin-left: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.mr-6 {
  margin-bottom: 6px;
}

.mb-6 {
  margin-right: 6px;
}

.pd-6 {
  padding: 6px;
}

.rd-6 {
  border-radius: 6px;
}

.w-7 {
  width: 7px;
}

.h-7 {
  height: 7px;
}

.font-7 {
  font-size: 7px;
}

.line-7 {
  line-height: 7px;
}

.ml-7 {
  margin-left: 7px;
}

.mt-7 {
  margin-top: 7px;
}

.mr-7 {
  margin-bottom: 7px;
}

.mb-7 {
  margin-right: 7px;
}

.pd-7 {
  padding: 7px;
}

.rd-7 {
  border-radius: 7px;
}

.w-8 {
  width: 8px;
}

.h-8 {
  height: 8px;
}

.font-8 {
  font-size: 8px;
}

.line-8 {
  line-height: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-bottom: 8px;
}

.mb-8 {
  margin-right: 8px;
}

.pd-8 {
  padding: 8px;
}

.rd-8 {
  border-radius: 8px;
}

.w-9 {
  width: 9px;
}

.h-9 {
  height: 9px;
}

.font-9 {
  font-size: 9px;
}

.line-9 {
  line-height: 9px;
}

.ml-9 {
  margin-left: 9px;
}

.mt-9 {
  margin-top: 9px;
}

.mr-9 {
  margin-bottom: 9px;
}

.mb-9 {
  margin-right: 9px;
}

.pd-9 {
  padding: 9px;
}

.rd-9 {
  border-radius: 9px;
}

.w-10 {
  width: 10px;
}

.h-10 {
  height: 10px;
}

.font-10 {
  font-size: 10px;
}

.line-10 {
  line-height: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-bottom: 10px;
}

.mb-10 {
  margin-right: 10px;
}

.pd-10 {
  padding: 10px;
}

.rd-10 {
  border-radius: 10px;
}

.w-11 {
  width: 11px;
}

.h-11 {
  height: 11px;
}

.font-11 {
  font-size: 11px;
}

.line-11 {
  line-height: 11px;
}

.ml-11 {
  margin-left: 11px;
}

.mt-11 {
  margin-top: 11px;
}

.mr-11 {
  margin-bottom: 11px;
}

.mb-11 {
  margin-right: 11px;
}

.pd-11 {
  padding: 11px;
}

.rd-11 {
  border-radius: 11px;
}

.w-12 {
  width: 12px;
}

.h-12 {
  height: 12px;
}

.font-12 {
  font-size: 12px;
}

.line-12 {
  line-height: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-bottom: 12px;
}

.mb-12 {
  margin-right: 12px;
}

.pd-12 {
  padding: 12px;
}

.rd-12 {
  border-radius: 12px;
}

.w-13 {
  width: 13px;
}

.h-13 {
  height: 13px;
}

.font-13 {
  font-size: 13px;
}

.line-13 {
  line-height: 13px;
}

.ml-13 {
  margin-left: 13px;
}

.mt-13 {
  margin-top: 13px;
}

.mr-13 {
  margin-bottom: 13px;
}

.mb-13 {
  margin-right: 13px;
}

.pd-13 {
  padding: 13px;
}

.rd-13 {
  border-radius: 13px;
}

.w-14 {
  width: 14px;
}

.h-14 {
  height: 14px;
}

.font-14 {
  font-size: 14px;
}

.line-14 {
  line-height: 14px;
}

.ml-14 {
  margin-left: 14px;
}

.mt-14 {
  margin-top: 14px;
}

.mr-14 {
  margin-bottom: 14px;
}

.mb-14 {
  margin-right: 14px;
}

.pd-14 {
  padding: 14px;
}

.rd-14 {
  border-radius: 14px;
}

.w-15 {
  width: 15px;
}

.h-15 {
  height: 15px;
}

.font-15 {
  font-size: 15px;
}

.line-15 {
  line-height: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-bottom: 15px;
}

.mb-15 {
  margin-right: 15px;
}

.pd-15 {
  padding: 15px;
}

.rd-15 {
  border-radius: 15px;
}

.w-16 {
  width: 16px;
}

.h-16 {
  height: 16px;
}

.font-16 {
  font-size: 16px;
}

.line-16 {
  line-height: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-16 {
  margin-bottom: 16px;
}

.mb-16 {
  margin-right: 16px;
}

.pd-16 {
  padding: 16px;
}

.rd-16 {
  border-radius: 16px;
}

.w-17 {
  width: 17px;
}

.h-17 {
  height: 17px;
}

.font-17 {
  font-size: 17px;
}

.line-17 {
  line-height: 17px;
}

.ml-17 {
  margin-left: 17px;
}

.mt-17 {
  margin-top: 17px;
}

.mr-17 {
  margin-bottom: 17px;
}

.mb-17 {
  margin-right: 17px;
}

.pd-17 {
  padding: 17px;
}

.rd-17 {
  border-radius: 17px;
}

.w-18 {
  width: 18px;
}

.h-18 {
  height: 18px;
}

.font-18 {
  font-size: 18px;
}

.line-18 {
  line-height: 18px;
}

.ml-18 {
  margin-left: 18px;
}

.mt-18 {
  margin-top: 18px;
}

.mr-18 {
  margin-bottom: 18px;
}

.mb-18 {
  margin-right: 18px;
}

.pd-18 {
  padding: 18px;
}

.rd-18 {
  border-radius: 18px;
}

.w-19 {
  width: 19px;
}

.h-19 {
  height: 19px;
}

.font-19 {
  font-size: 19px;
}

.line-19 {
  line-height: 19px;
}

.ml-19 {
  margin-left: 19px;
}

.mt-19 {
  margin-top: 19px;
}

.mr-19 {
  margin-bottom: 19px;
}

.mb-19 {
  margin-right: 19px;
}

.pd-19 {
  padding: 19px;
}

.rd-19 {
  border-radius: 19px;
}

.w-20 {
  width: 20px;
}

.h-20 {
  height: 20px;
}

.font-20 {
  font-size: 20px;
}

.line-20 {
  line-height: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-bottom: 20px;
}

.mb-20 {
  margin-right: 20px;
}

.pd-20 {
  padding: 20px;
}

.rd-20 {
  border-radius: 20px;
}

.w-21 {
  width: 21px;
}

.h-21 {
  height: 21px;
}

.font-21 {
  font-size: 21px;
}

.line-21 {
  line-height: 21px;
}

.ml-21 {
  margin-left: 21px;
}

.mt-21 {
  margin-top: 21px;
}

.mr-21 {
  margin-bottom: 21px;
}

.mb-21 {
  margin-right: 21px;
}

.pd-21 {
  padding: 21px;
}

.rd-21 {
  border-radius: 21px;
}

.w-22 {
  width: 22px;
}

.h-22 {
  height: 22px;
}

.font-22 {
  font-size: 22px;
}

.line-22 {
  line-height: 22px;
}

.ml-22 {
  margin-left: 22px;
}

.mt-22 {
  margin-top: 22px;
}

.mr-22 {
  margin-bottom: 22px;
}

.mb-22 {
  margin-right: 22px;
}

.pd-22 {
  padding: 22px;
}

.rd-22 {
  border-radius: 22px;
}

.w-23 {
  width: 23px;
}

.h-23 {
  height: 23px;
}

.font-23 {
  font-size: 23px;
}

.line-23 {
  line-height: 23px;
}

.ml-23 {
  margin-left: 23px;
}

.mt-23 {
  margin-top: 23px;
}

.mr-23 {
  margin-bottom: 23px;
}

.mb-23 {
  margin-right: 23px;
}

.pd-23 {
  padding: 23px;
}

.rd-23 {
  border-radius: 23px;
}

.w-24 {
  width: 24px;
}

.h-24 {
  height: 24px;
}

.font-24 {
  font-size: 24px;
}

.line-24 {
  line-height: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-bottom: 24px;
}

.mb-24 {
  margin-right: 24px;
}

.pd-24 {
  padding: 24px;
}

.rd-24 {
  border-radius: 24px;
}

.w-25 {
  width: 25px;
}

.h-25 {
  height: 25px;
}

.font-25 {
  font-size: 25px;
}

.line-25 {
  line-height: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-25 {
  margin-bottom: 25px;
}

.mb-25 {
  margin-right: 25px;
}

.pd-25 {
  padding: 25px;
}

.rd-25 {
  border-radius: 25px;
}

.w-26 {
  width: 26px;
}

.h-26 {
  height: 26px;
}

.font-26 {
  font-size: 26px;
}

.line-26 {
  line-height: 26px;
}

.ml-26 {
  margin-left: 26px;
}

.mt-26 {
  margin-top: 26px;
}

.mr-26 {
  margin-bottom: 26px;
}

.mb-26 {
  margin-right: 26px;
}

.pd-26 {
  padding: 26px;
}

.rd-26 {
  border-radius: 26px;
}

.w-27 {
  width: 27px;
}

.h-27 {
  height: 27px;
}

.font-27 {
  font-size: 27px;
}

.line-27 {
  line-height: 27px;
}

.ml-27 {
  margin-left: 27px;
}

.mt-27 {
  margin-top: 27px;
}

.mr-27 {
  margin-bottom: 27px;
}

.mb-27 {
  margin-right: 27px;
}

.pd-27 {
  padding: 27px;
}

.rd-27 {
  border-radius: 27px;
}

.w-28 {
  width: 28px;
}

.h-28 {
  height: 28px;
}

.font-28 {
  font-size: 28px;
}

.line-28 {
  line-height: 28px;
}

.ml-28 {
  margin-left: 28px;
}

.mt-28 {
  margin-top: 28px;
}

.mr-28 {
  margin-bottom: 28px;
}

.mb-28 {
  margin-right: 28px;
}

.pd-28 {
  padding: 28px;
}

.rd-28 {
  border-radius: 28px;
}

.w-29 {
  width: 29px;
}

.h-29 {
  height: 29px;
}

.font-29 {
  font-size: 29px;
}

.line-29 {
  line-height: 29px;
}

.ml-29 {
  margin-left: 29px;
}

.mt-29 {
  margin-top: 29px;
}

.mr-29 {
  margin-bottom: 29px;
}

.mb-29 {
  margin-right: 29px;
}

.pd-29 {
  padding: 29px;
}

.rd-29 {
  border-radius: 29px;
}

.w-30 {
  width: 30px;
}

.h-30 {
  height: 30px;
}

.font-30 {
  font-size: 30px;
}

.line-30 {
  line-height: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-right: 30px;
}

.pd-30 {
  padding: 30px;
}

.rd-30 {
  border-radius: 30px;
}

.w-31 {
  width: 31px;
}

.h-31 {
  height: 31px;
}

.font-31 {
  font-size: 31px;
}

.line-31 {
  line-height: 31px;
}

.ml-31 {
  margin-left: 31px;
}

.mt-31 {
  margin-top: 31px;
}

.mr-31 {
  margin-bottom: 31px;
}

.mb-31 {
  margin-right: 31px;
}

.pd-31 {
  padding: 31px;
}

.rd-31 {
  border-radius: 31px;
}

.w-32 {
  width: 32px;
}

.h-32 {
  height: 32px;
}

.font-32 {
  font-size: 32px;
}

.line-32 {
  line-height: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.mr-32 {
  margin-bottom: 32px;
}

.mb-32 {
  margin-right: 32px;
}

.pd-32 {
  padding: 32px;
}

.rd-32 {
  border-radius: 32px;
}

.w-33 {
  width: 33px;
}

.h-33 {
  height: 33px;
}

.font-33 {
  font-size: 33px;
}

.line-33 {
  line-height: 33px;
}

.ml-33 {
  margin-left: 33px;
}

.mt-33 {
  margin-top: 33px;
}

.mr-33 {
  margin-bottom: 33px;
}

.mb-33 {
  margin-right: 33px;
}

.pd-33 {
  padding: 33px;
}

.rd-33 {
  border-radius: 33px;
}

.w-34 {
  width: 34px;
}

.h-34 {
  height: 34px;
}

.font-34 {
  font-size: 34px;
}

.line-34 {
  line-height: 34px;
}

.ml-34 {
  margin-left: 34px;
}

.mt-34 {
  margin-top: 34px;
}

.mr-34 {
  margin-bottom: 34px;
}

.mb-34 {
  margin-right: 34px;
}

.pd-34 {
  padding: 34px;
}

.rd-34 {
  border-radius: 34px;
}

.w-35 {
  width: 35px;
}

.h-35 {
  height: 35px;
}

.font-35 {
  font-size: 35px;
}

.line-35 {
  line-height: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.mr-35 {
  margin-bottom: 35px;
}

.mb-35 {
  margin-right: 35px;
}

.pd-35 {
  padding: 35px;
}

.rd-35 {
  border-radius: 35px;
}

.w-36 {
  width: 36px;
}

.h-36 {
  height: 36px;
}

.font-36 {
  font-size: 36px;
}

.line-36 {
  line-height: 36px;
}

.ml-36 {
  margin-left: 36px;
}

.mt-36 {
  margin-top: 36px;
}

.mr-36 {
  margin-bottom: 36px;
}

.mb-36 {
  margin-right: 36px;
}

.pd-36 {
  padding: 36px;
}

.rd-36 {
  border-radius: 36px;
}

.w-37 {
  width: 37px;
}

.h-37 {
  height: 37px;
}

.font-37 {
  font-size: 37px;
}

.line-37 {
  line-height: 37px;
}

.ml-37 {
  margin-left: 37px;
}

.mt-37 {
  margin-top: 37px;
}

.mr-37 {
  margin-bottom: 37px;
}

.mb-37 {
  margin-right: 37px;
}

.pd-37 {
  padding: 37px;
}

.rd-37 {
  border-radius: 37px;
}

.w-38 {
  width: 38px;
}

.h-38 {
  height: 38px;
}

.font-38 {
  font-size: 38px;
}

.line-38 {
  line-height: 38px;
}

.ml-38 {
  margin-left: 38px;
}

.mt-38 {
  margin-top: 38px;
}

.mr-38 {
  margin-bottom: 38px;
}

.mb-38 {
  margin-right: 38px;
}

.pd-38 {
  padding: 38px;
}

.rd-38 {
  border-radius: 38px;
}

.w-39 {
  width: 39px;
}

.h-39 {
  height: 39px;
}

.font-39 {
  font-size: 39px;
}

.line-39 {
  line-height: 39px;
}

.ml-39 {
  margin-left: 39px;
}

.mt-39 {
  margin-top: 39px;
}

.mr-39 {
  margin-bottom: 39px;
}

.mb-39 {
  margin-right: 39px;
}

.pd-39 {
  padding: 39px;
}

.rd-39 {
  border-radius: 39px;
}

.w-40 {
  width: 40px;
}

.h-40 {
  height: 40px;
}

.font-40 {
  font-size: 40px;
}

.line-40 {
  line-height: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-bottom: 40px;
}

.mb-40 {
  margin-right: 40px;
}

.pd-40 {
  padding: 40px;
}

.rd-40 {
  border-radius: 40px;
}

.w-41 {
  width: 41px;
}

.h-41 {
  height: 41px;
}

.font-41 {
  font-size: 41px;
}

.line-41 {
  line-height: 41px;
}

.ml-41 {
  margin-left: 41px;
}

.mt-41 {
  margin-top: 41px;
}

.mr-41 {
  margin-bottom: 41px;
}

.mb-41 {
  margin-right: 41px;
}

.pd-41 {
  padding: 41px;
}

.rd-41 {
  border-radius: 41px;
}

.w-42 {
  width: 42px;
}

.h-42 {
  height: 42px;
}

.font-42 {
  font-size: 42px;
}

.line-42 {
  line-height: 42px;
}

.ml-42 {
  margin-left: 42px;
}

.mt-42 {
  margin-top: 42px;
}

.mr-42 {
  margin-bottom: 42px;
}

.mb-42 {
  margin-right: 42px;
}

.pd-42 {
  padding: 42px;
}

.rd-42 {
  border-radius: 42px;
}

.w-43 {
  width: 43px;
}

.h-43 {
  height: 43px;
}

.font-43 {
  font-size: 43px;
}

.line-43 {
  line-height: 43px;
}

.ml-43 {
  margin-left: 43px;
}

.mt-43 {
  margin-top: 43px;
}

.mr-43 {
  margin-bottom: 43px;
}

.mb-43 {
  margin-right: 43px;
}

.pd-43 {
  padding: 43px;
}

.rd-43 {
  border-radius: 43px;
}

.w-44 {
  width: 44px;
}

.h-44 {
  height: 44px;
}

.font-44 {
  font-size: 44px;
}

.line-44 {
  line-height: 44px;
}

.ml-44 {
  margin-left: 44px;
}

.mt-44 {
  margin-top: 44px;
}

.mr-44 {
  margin-bottom: 44px;
}

.mb-44 {
  margin-right: 44px;
}

.pd-44 {
  padding: 44px;
}

.rd-44 {
  border-radius: 44px;
}

.w-45 {
  width: 45px;
}

.h-45 {
  height: 45px;
}

.font-45 {
  font-size: 45px;
}

.line-45 {
  line-height: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.mr-45 {
  margin-bottom: 45px;
}

.mb-45 {
  margin-right: 45px;
}

.pd-45 {
  padding: 45px;
}

.rd-45 {
  border-radius: 45px;
}

.w-46 {
  width: 46px;
}

.h-46 {
  height: 46px;
}

.font-46 {
  font-size: 46px;
}

.line-46 {
  line-height: 46px;
}

.ml-46 {
  margin-left: 46px;
}

.mt-46 {
  margin-top: 46px;
}

.mr-46 {
  margin-bottom: 46px;
}

.mb-46 {
  margin-right: 46px;
}

.pd-46 {
  padding: 46px;
}

.rd-46 {
  border-radius: 46px;
}

.w-47 {
  width: 47px;
}

.h-47 {
  height: 47px;
}

.font-47 {
  font-size: 47px;
}

.line-47 {
  line-height: 47px;
}

.ml-47 {
  margin-left: 47px;
}

.mt-47 {
  margin-top: 47px;
}

.mr-47 {
  margin-bottom: 47px;
}

.mb-47 {
  margin-right: 47px;
}

.pd-47 {
  padding: 47px;
}

.rd-47 {
  border-radius: 47px;
}

.w-48 {
  width: 48px;
}

.h-48 {
  height: 48px;
}

.font-48 {
  font-size: 48px;
}

.line-48 {
  line-height: 48px;
}

.ml-48 {
  margin-left: 48px;
}

.mt-48 {
  margin-top: 48px;
}

.mr-48 {
  margin-bottom: 48px;
}

.mb-48 {
  margin-right: 48px;
}

.pd-48 {
  padding: 48px;
}

.rd-48 {
  border-radius: 48px;
}

.w-49 {
  width: 49px;
}

.h-49 {
  height: 49px;
}

.font-49 {
  font-size: 49px;
}

.line-49 {
  line-height: 49px;
}

.ml-49 {
  margin-left: 49px;
}

.mt-49 {
  margin-top: 49px;
}

.mr-49 {
  margin-bottom: 49px;
}

.mb-49 {
  margin-right: 49px;
}

.pd-49 {
  padding: 49px;
}

.rd-49 {
  border-radius: 49px;
}

.w-50 {
  width: 50px;
}

.h-50 {
  height: 50px;
}

.font-50 {
  font-size: 50px;
}

.line-50 {
  line-height: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-bottom: 50px;
}

.mb-50 {
  margin-right: 50px;
}

.pd-50 {
  padding: 50px;
}

.rd-50 {
  border-radius: 50px;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: AaDongYuanSong-2;
}

@font-face {
  font-family: "AaDongYuanSong-2";
  src: url("/css/AaDongYuanSong/AaDongYuanSong-2.ttf");
}
#app {
  min-height: 101%;
  background: #f2f3f5;
  width: 100%;
}

#container {
  margin: 1em 1.9em;
  box-sizing: border-box;
  width: calc(100% - 3.8em);
  min-height: calc(100vh - 3.5em);
}

.module {
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  overflow: hidden;
}
.module .module-title {
  font-size: 1.3em;
  font-weight: bold;
  padding: 1em 1em 1em 2em;
  border-bottom: 0.1em solid #f2f2f2;
  position: relative;
}
.module .module-title::before {
  content: "";
  width: 0.3em;
  height: 100%;
  position: absolute;
  background: #0a3069;
  left: 0;
  top: 0;
}

ul {
  list-style: none;
}
ul.root {
  padding: 0;
}

.md-card {
  float: left;
  background: #fff;
  border-radius: 0.5em;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1em;
  height: 7em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.md-card > a {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
}
@media (min-width: 48.01em) {
  .md-card {
    width: calc(50% - 1em);
  }
}
@media (min-width: 48.01em) {
  .md-card:nth-child(2n) {
    margin-left: 2em;
  }
}
.md-card .md-card-banner {
  width: 30%;
}
.md-card .md-card-banner > img {
  width: 100%;
  height: auto;
}
.md-card .md-card-right {
  width: 70%;
  position: relative;
}
.md-card .md-card-title {
  font-size: 0.9em;
  font-weight: bold;
  width: 100%;
}
.md-card .md-card-other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.md-card .md-card-other .author {
  color: #999;
}
.md-card .md-card-other .time {
  color: #999;
}

a.hover-line {
  text-decoration: none;
  position: relative;
  color: #333;
  padding: 0.3em 0;
  display: flex;
}
a.hover-line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #a0a7d2;
  transition: width 0.28s ease-in-out;
}
a.hover-line:hover::after {
  width: 100%;
}

a.abtn {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

a.abtn-flex {
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

#main {
  width: 100%;
  padding: 0 1em;
}
@media (min-width: 48.01em) {
  #main {
    width: calc(100% - 23em);
  }
}

#contentRightFix {
  display: none;
  width: 21em;
  margin-left: 2em;
}
@media (min-width: 48.01em) {
  #contentRightFix {
    display: block;
  }
}

#typeModule .type-tree {
  padding: 1em;
}
#typeModule .type-tree > ul {
  padding: 0;
  margin: 0;
}
#typeModule .type-tree > ul li {
  padding: 0.15em 0;
}
#typeModule .type-tree > ul li > ul {
  position: relative;
}
#typeModule .type-tree > ul li > ul::before {
  content: "";
  display: block;
  height: 50%;
  width: 20px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  border-bottom-left-radius: 0.25em;
  position: absolute;
  left: 15px;
  top: 2px;
}

#tagModule {
  margin-top: 0.7em;
}
#tagModule > ul {
  overflow: hidden;
  padding: 1.1em;
  margin: 0;
}
#tagModule > ul > li {
  display: inline-block;
  max-width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
#tagModule > ul > li > a {
  display: inline-block;
}
#tagModule > ul > li:not(:first-child) {
  padding-left: 0.5em;
}
#tagModule > ul > li:not(:first-child)::before {
  content: "|";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dialog {
  display: none;
}
.dialog .dialog-mask {
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s ease-in-out;
}
.dialog .dialog-content {
  position: fixed;
  z-index: 1000;
  background: #fff;
  border-radius: 1.3em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.3s ease-in-out;
}