html, body {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
}

@font-face {
font-family: "AaDongYuanSong-2";
src: url("/css/AaDongYuanSong/AaDongYuanSong-2.ttf");
}

#app {
 display: flex;
 flex-direction: column;
 min-height: 100%;
}

#container {
 max-width: var(--content-width);
 padding: 1em 2em;
 box-sizing: border-box;
 flex: 1;
 position: relative;
 left: 50%;
 transform: translateX(-50%);
 /*font-size: 20px;*/
}
