#container {
  display: flex;
}

#markdown_container {
  width: 100%;
  min-height: 200vh;
}

#main {
  width: 100%;
  padding: 0 1em;
}
@media (min-width: 48.01em) {
  #main {
    width: calc(100% - 23em);
  }
}

#contentRightFix {
  display: none;
  width: 21em;
  margin-left: 2em;
}
@media (min-width: 48.01em) {
  #contentRightFix {
    display: block;
  }
}

#menuModule {
  height: calc(100vh - 5.3em);
  display: flex;
  flex-direction: column;
}

#menu_tree {
  overflow-y: auto;
  flex: 1;
  padding: 1em;
}
#menu_tree ul {
  list-style: none;
}
#menu_tree ul li a {
  display: block;
  line-height: 1.5em;
  text-decoration: none;
  color: #666;
  position: relative;
  padding: 0 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#menu_tree ul li a:hover {
  color: var(--primary-color);
}
#menu_tree ul li a.active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.25em;
  left: 0;
  bottom: 0.25em;
  width: 3px;
  background: var(--primary-color);
}
#menu_tree > ul {
  padding: 0;
  margin: 0;
}

#typeModule .type-tree {
  padding: 1em;
}
#typeModule .type-tree > ul {
  padding: 0;
  margin: 0;
}
#typeModule .type-tree > ul li {
  padding: 0.15em 0;
}
#typeModule .type-tree > ul li > ul {
  position: relative;
}
#typeModule .type-tree > ul li > ul::before {
  content: "";
  display: block;
  height: 50%;
  width: 20px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  border-bottom-left-radius: 0.25em;
  position: absolute;
  left: 15px;
  top: 2px;
}

#tagModule {
  margin-top: 0.7em;
}
#tagModule > ul {
  overflow: hidden;
  padding: 1.1em;
  margin: 0;
}
#tagModule > ul > li {
  display: inline-block;
  max-width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
#tagModule > ul > li > a {
  display: inline-block;
}
#tagModule > ul > li:not(:first-child) {
  padding-left: 0.5em;
}
#tagModule > ul > li:not(:first-child)::before {
  content: "|";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

#menuModule {
  margin-top: 0.7em;
}
#menuModule.menu-fixed {
  position: fixed;
  top: 3.5em;
  width: 21em;
  left: calc(100% - 23em);
}

footer {
  width: calc(100% - 3.8em);
  margin: 0 1.9em;
  border-radius: 1em 1em 0 0;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 48.01em) {
  footer {
    width: calc((100% - 23em) - 3.8em);
  }
}