.color-10 {
 color: #101010;
}

.color-7D {
 color: #7D7D7D;
}

.color-d6 {
 color: #d6d6d6;
}

.color-f34 {
 color: #F34659;
}

.color-333 {
 color: #333;
}
.color-666 {
 color: #666;
}
.color-999 {
 color: #999;
}

.color-e7 {
 color: #e7e7e7;
}
.color-blue {
 color: #2699FB;
}

.color-white, .color-fff {
 color: #fff;
}
.color-f4b {
 color: #F4B744;
}

.bg-white, .bg-fff {
 background: #fff;
}
.bg-f9 {
 background: #f9f9f9;
}
.bg-e7 {
 background: #e7e7e7;
}

.bg-f9 {
 background: #f9f9f9;
}

.bg-f2 {
 background: #f2f2f2;
}
