@import "./mixin.scss";
@import "./color.scss";
@import "./flex.scss";

@import "//at.alicdn.com/t/c/font_3809364_w395q40k2b.css";


@for $i from 1 through 50 {
 .w-#{$i} {
  width: 1px * $i;
 }

 .h-#{$i} {
  height: 1px * $i;
 }

 .font-#{$i} {
  font-size: 1px * $i;
 }

 .line-#{$i} {
  line-height: 1px * $i;
 }

 .ml-#{$i} {
  margin-left: 1px * $i;
 }

 .mt-#{$i} {
  margin-top: 1px * $i;
 }

 .mr-#{$i} {
  margin-bottom: 1px * $i;
 }

 .mb-#{$i} {
  margin-right: 1px * $i;
 }

 .pd-#{$i} {
  padding: 1px * $i;
 }

 .rd-#{$i} {
  border-radius: 1px * $i;
 }
}

.w100p {
 width: 100%;
}
.h100p {
 height: 100%;
}

html,
body {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
 font-family: AaDongYuanSong-2;

}

@font-face {
 font-family: "AaDongYuanSong-2";
 src: url("/css/AaDongYuanSong/AaDongYuanSong-2.ttf");
}

#app {
 min-height: 101%;
 background: #f2f3f5;
 width: 100%;
}

#container {
 margin: 1em 1.9em;
 box-sizing: border-box;
 width: calc(100% - 3.8em);
 min-height: calc(100vh - $header-height);
}

.module {
 box-shadow: $box-shadow;
 border-radius: 0.5em;
 background: rgba(255,255,255,0.7);
 box-sizing: border-box;
 overflow: hidden;
 .module-title {
  font-size: 1.3em;
  font-weight: bold;
  padding: 1em 1em 1em 2em;
  border-bottom: 0.1em solid #f2f2f2;
  position: relative;
 }
 .module-title::before {
  content: '';
  width: 0.3em;
  height: 100%;
  position: absolute;
  background: #0a3069;
  left: 0;
  top: 0;
 }
}

ul {
 list-style: none;
 &.root {
  padding: 0;
 }
}

.md-card {
 float: left;
 background: #fff;
 border-radius: 0.5em;
 padding: 1em;
 width: 100%;
 box-sizing: border-box;
 margin-top: 1em;
 height: 7em;
 box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

  & > a {
   display: flex;
   width: 100%;
   height: 100%;
   text-decoration: none;
   color: #333;
  }

 @include media(">tablet") {
  width: calc(50% - 1em);
 }

 &:nth-child(2n) {
  @include media(">tablet") {
   margin-left: 2em;
  }
 }

 .md-card-banner {
  width: 30%;

  &>img {
   width: 100%;
   height: auto;
  }
 }
 .md-card-right {
  width: 70%;
  position: relative;
 }

 .md-card-title {
  font-size: 0.9em;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
 }

 .md-card-other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .author {
   color: #999;
  }
  .time {
   color: #999;
  }
 }
}

a.hover-line {
 text-decoration: none;
 position: relative;
 color: #333;
 padding: 0.3em 0;
 display: flex;
 &::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #a0a7d2;
  transition: width 0.28s ease-in-out;
 }
 &:hover {
  &::after {
   width: 100%;
  }
 }
}


a.abtn {
 display: block;
 cursor: pointer;
 text-decoration: none;
}


#main {
 width: 100%;
 padding: 0 1em;
 @include media(">tablet") {
  width: $main-width;
 }
}

#contentRightFix {
 display: none;
 width: $right-width;
 margin-left: $right-margin-left;
 @include media(">tablet") {
  display: block;
 }
}



#typeModule {
 .type-tree {
  padding: 1em;
  & > ul {
   padding: 0;
   margin: 0;
   li {
    padding: 0.15em 0;
    & > ul {
     position: relative;
     &::before {
      content: '';
      display: block;
      height: 50%;
      width: 20px;
      border-left: 2px solid #333;
      border-bottom: 2px solid #333;
      border-bottom-left-radius: 0.25em;
      position: absolute;
      left: 15px;
      top: 2px;
     }
    }

   }
  }
 }
}

#tagModule {
 margin-top: 0.7em;
 & > ul {
  overflow: hidden;
  padding: 1.1em;
  margin:0;
  & > li {
   display: inline-block;
   max-width: 7em;
   overflow: hidden;
   text-overflow: ellipsis;
   position: relative;
   & > a {
    display: inline-block;

   }
   &:not(:first-child) {
    padding-left: 0.5em;
    &::before {
     content: "|";
     display: block;
     position: absolute;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
     color: #999;
    }

   }
  }
 }
}
