@import "../../../node_modules/include-media/dist/_include-media.scss";

$content-width: 1200px;
$font-size: 16px;
$breakpoints: (
  phone: 20em,
  tablet: 48em,
  desktop: 64em
);

@mixin size($width, $height) {
 width: calc($width / $font-size) * 1em;
 height: calc($height / $font-size) * 1em;
}