@import "../mixin.scss";



#container {
 display: flex;
}

#markdown_container {
 width: 100%;
 min-height: 200vh;
}


#menuModule {
 height: calc(100vh - 5.3em);
 display: flex;
 flex-direction: column;
}

#menu_tree {
 overflow-y: auto;
 flex: 1;
 padding: 1em;

 ul {
  list-style: none;

  li a {
   display: block;
   line-height: 1.5em;
   text-decoration: none;
   color: #666;
   position: relative;
   padding: 0 0.5em;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;

   &:hover {
    color: var(--primary-color);
   }

   &.active {
    &::before {
     content: '';
     display: block;
     position: absolute;
     top: 0.25em;
     left: 0;
     bottom: 0.25em;
     width: 3px;
     background: var(--primary-color);
    }
   }
  }
 }

 &>ul {
  padding: 0;
  margin: 0;

 }
}



#menuModule {
 margin-top: 0.7em;

 &.menu-fixed {
  position: fixed;
  top: $header-height;
  width: 21em;
  left: $main-width;
 }
}

footer {
width: calc(100% - 3.8em);
margin: 0 1.9em;
border-radius: 1em 1em 0 0  ;
overflow: hidden;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

@include media(">tablet") {
 width: calc($main-width - 3.8em);
}
}
